/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-headers:rgb(68, 47, 58);
	--color-p: rgb(119, 119, 119);
	--color-background-white:rgb(255, 255, 255);
	--color-background-yellow: rgb(248, 238, 216);
}






/****************/
/* JOUW STYLING */
/****************/

/* jouw code */



/*basics*/
@font-face {
	font-family: Poppins;
	src: url(/fonts/poppins_regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Poppins;
	src: url(/fonts/poppins_bold.ttf), format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Poppins;
	src: url(/fonts/poppins_extrabold.ttf), format("truetype");
	font-weight: bolder;
	font-style: normal;
}

@font-face {
	font-family: Poppins;
	src: url(/fonts/poppins_light.ttf), format("truetype");
	font-weight: light;
	font-style: normal;
}




	

* {
	margin: 0;
	padding: 0;
	font-family: Poppins, sans-serif;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 2em;
	color: var(--color-headers);
}

p {
	font-size: 1em;
	color: var(--color-p);
}

ul {
	list-style-type: none;
}

li a {
	text-decoration: none;
}







/*header*/

header {
	display: flex;
	background-color: var(--color-background-yellow);
}

header nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

header nav img {
	display: none;
	max-width: 3em;
	margin: .5em;
}

header nav ul{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: var(--color-background-yellow);
	position: fixed;
	inset: 0;
	translate: -100%;
	transition: .2s;
}

header.toonMenu ul{
	translate: none;
}


header nav button {
	position: relative;
	z-index: 1;

  	display:grid;
  	place-items:center;
  	width: 6em;
  	aspect-ratio: 1;
  	appearance: none;
  	border:none;
  	background: none;
}


header button span {
	display: block;
	width: 3em;
	height: .3em;
	background-color: var(--color-headers);
	grid-row-start: 1;
	grid-column-start: 1;
	border-radius: .4em;
	transition: .2s;
}
  
header button span:nth-child(1){
	translate: 0 -1em;
}
  
header button span:nth-child(3){
	translate: 0 1em;
}
  
header.toonMenu button span:nth-child(1){
	translate: none;
	rotate: 45deg;
}
  
header.toonMenu button span:nth-child(2){
	scale: 0 1;
}
  
header.toonMenu button span:nth-child(3){
	translate: none;
	rotate: -45deg;
}

header nav ul li {
	align-items: center;
	justify-content: space-around;

	text-align: center;
	font-size: 2em;
	margin: 1.5em;
}

header li a {
	color: var(--color-headers);
	transition: 0s;
}

header li a:hover {
	text-decoration: underline;
}



/* begin pagina*/
section:first-of-type { 
	/*mevrouw achtergrond en svg*/
	background-image: url(../images/header/header-foto.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;

	display: grid;
}

section:first-of-type img:nth-last-of-type(2) { /*apple reward*/
	max-width: 6em;
}

section:first-of-type img:nth-last-of-type(1) { /*apple reward*/
	width: 100%;
}



@media (min-width: 44em) {

	header nav {
		display: flex;
		justify-content: center;
	}

	header nav button {
		display: none;
	}

	header nav ul {
		display: flex;
		flex-direction: row;
		position: static;
		translate: unset;
	}

	header nav ul li {
		margin: 0 .5em 0 .5em;
	}  

	header nav img {
		display: block;
	}
}
