/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-brown:rgb(68, 47, 58);
	--color-p: rgb(119, 119, 119);
	--color-white:rgb(255, 255, 255);
	--color-yellow: rgb(248, 238, 216);
	--color-blue: rgb(77, 144, 143);
	--color-dark-blue: rgb(48, 122, 122);
	--color-black: rgb(25, 25, 25);
	--color-orange: rgb(247, 202, 93);
	--color-dark-orange: rgb(228, 164, 44);
}





/*basics*/
@font-face {
	font-family: Poppins;
	src: url(../fonts/poppins_regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Poppins;
	src: url(../fonts/poppins_bold.ttf), format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Poppins;
	src: url(../fonts/poppins_extrabold.ttf), format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: Poppins;
	src: url(../fonts/poppins_light.ttf), format("truetype");
	font-weight: 300;
	font-style: normal;
}




body {
	background-color: var(--color-white);
}

* {
	margin: 0;
	padding: 0;
	font-family: Poppins, sans-serif;
}

*:focus-visible {
	outline: none;
	border: solid .1em var(--color-brown);
}

img {
	max-width: 100%;
}

h1 {
	font-size: 2em;
	font-weight: 700;
	line-height: 120%;
	color: var(--color-brown);
}

h2 {
	font-size: 1.5em;
	text-align: center;
	color: var(--color-brown);
}

h3 {
	color: var(--color-brown);
	font-size: 1.5em;
}

p {
	font-size: 1em;
	font-weight: 700;
	color: var(--color-p);
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:focus-visible{
	text-decoration: underlines;
}







/*header*/

header {
	display: flex;
	background-color: var(--color-yellow);
}

header nav {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

header img {
	max-width: 5em;
	margin: .5em;
}

header nav ul{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: var(--color-yellow);
	position: fixed;
	inset: 0;
	translate: -100%;
	transition: .2s;
}


header nav ul li {
	align-items: center;
	justify-content: space-around;

	text-align: center;
	font-size: 1.5em;
	font-weight: 700;
	margin: 1.5em;
}

header li a {
	color: var(--color-brown);
	transition: 0s;
}

header li a:hover {
	text-decoration: underline;
	text-underline-offset: .7em;
	/* https://stackoverflow.com/questions/1734618/how-to-increase-the-gap-between-text-and-underlining-in-css */
}

header button {
	position: relative;
	z-index: 2;

  	display:grid;
  	place-items:center;
  	width: 6em;
  	aspect-ratio: 1;
  	appearance: none;
  	background: none;
	border: none;
}


header button span {
	display: block;
	width: 3em;
	height: .2em;
	background-color: var(--color-brown);
	grid-row-start: 1;
	grid-column-start: 1;
	border-radius: .4em;
	transition: .2s;
}

header button span:nth-child(1){
	translate: 0 -1em;
}
  
header button span:nth-child(3){
	translate: 0 1em;
}

header.toonMenu ul{
	translate: none;
	z-index: 2;
}

header.toonMenu button {
	position: fixed;
	margin: 11.25px 0;
	/* pixels expres gebruikt, de knop bleef niet
	 op dezelfde plek zitten als er werd geklikt */
}

header.toonMenu button span:nth-child(1){
	translate: none;
	rotate: 45deg;
}
  
header.toonMenu button span:nth-child(2){
	scale: 0 1;
}
  
header.toonMenu button span:nth-child(3){
	translate: none;
	rotate: -45deg;
}




/* footer */
footer {
	padding: 2.5em;
	padding-bottom: 20em;
}

footer h2 {
	text-align: start;
	font-size: 1.1em;
	font-weight: 800;
}

footer h3 {
	font-size: 1.1em;
	font-weight: 800;
}

footer ul:first-of-type { /*follow*/
	display: flex;
}

footer ul:first-of-type li img{
	margin: 2em;
	width: 1.5em;
}

footer ul:first-of-type li img:first-of-type {
	margin-left: 0;
}


footer section { /*ol*/
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em;
	margin: 2em 0;
}

footer ol li {
	line-height: 2.5em;
}

footer ol a {
	color: var(--color-p);
}

footer ol a:hover {
	color: var(--color-brown);
	text-decoration: underline;
}


footer ul:last-of-type { /*download*/
	margin: .5em;
	display: flex;
	justify-content: space-evenly;
}

footer ul:last-of-type img {
	width: 10em;
}

footer span {
	display: block;
	margin: 1em 0;
	width: 100%;
	height: .1em;
	background-color: var(--color-p);
	opacity: 0.5;
}

footer p {
	font-weight: 400;
}









@media (min-width: 44em) {

	/* burgermenuutje */
	header {
		display: flex;
		align-items: center;
	}

	header nav {
		display: block;
	}

	header nav button {
		display: none;
	}

	header nav ul {
		display: flex;
		flex-direction: row;
		position: static;
		translate: unset;
		justify-content: space-around;
	}

	header nav ul li {
		margin: 0 .5em 0 .5em;
	}  

	header nav img {
		display: block;
	}
}
