/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-brown:rgb(68, 47, 58);
	--color-p: rgb(95, 95, 95);
	--color-white:rgb(255, 255, 255);
	--color-yellow: rgb(248, 238, 216);
	--color-blue: rgb(48, 122, 122);
	--color-black: rgb(25, 25, 25);
	--color-orange: rgb(247, 202, 93);
	--color-dark-orange: rgb(228, 164, 44);
}





/*basics*/
@font-face {
	font-family: Poppins;
	src: url(../fonts/poppins_regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Poppins;
	src: url(../fonts/poppins_bold.ttf), format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Poppins;
	src: url(../fonts/poppins_extrabold.ttf), format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: Poppins;
	src: url(../fonts/poppins_light.ttf), format("truetype");
	font-weight: 300;
	font-style: normal;
}




body {
	background-color: var(--color-white);
}

* {
	margin: 0;
	padding: 0;
	font-family: Poppins, sans-serif;
}

*:focus-visible {
	outline: none;
	border: solid .1em var(--color-brown);
}

img {
	max-width: 100%;
}

h1 {
	font-size: 2em;
	font-weight: 700;
	line-height: 120%;
	color: var(--color-brown);
}

h2 {
	font-size: 1.5em;
	text-align: center;
	color: var(--color-brown);
}

h3 {
	color: var(--color-brown);
	font-size: 1.5em;
}

p {
	font-size: 1em;
	font-weight: 700;
	color: var(--color-p);
}

li {
	list-style-type: none;
}

a:hover,
a:focus {
	text-underline-offset: .7em;
}


body > a {
	position: absolute;
	translate: -9999px;

	&:focus{ /*so naar vincent*/
		translate: none;
	}
}




/*header*/
header {
	display: flex;
	background-color: var(--color-yellow);
}

header nav {
	display: flex;
	width: 100%;
}

header nav > a {
	display: flex;
	width: 100%;
}

header nav a img{
	border-radius: 50%;
	background-color: white;
	width: 4.5em;
	margin: .7em;
	padding: .8em;
}

header nav ul{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: var(--color-yellow);
	position: fixed;
	inset: 0;
	translate: -100%;
	transition: .2s;
}


header nav ul li {
	align-items: center;
	justify-content: space-around;

	text-align: center;
	font-size: 1.5em;
	font-weight: 700;
	margin: 1.5em;
}

header li a {
	color: var(--color-brown);
	text-decoration: none;
}

header li a:hover {
	text-decoration: underline;
	/* https://stackoverflow.com/questions/1734618/how-to-increase-the-gap-between-text-and-underlining-in-css */
}

header button {
	position: relative;
	z-index: 2;

	justify-self: end;
  	display:grid;
  	place-items:center;
  	width: 6em;
  	aspect-ratio: 1;
  	appearance: none;
  	background: none;
	border: none;
	margin: 0 5.07px;
}


header button span {
	display: block;
	width: 3em;
	height: .2em;
	background-color: var(--color-brown);
	grid-row-start: 1;
	grid-column-start: 1;
	border-radius: .4em;
	transition: .2s;
}

header button span:nth-child(1){
	translate: 0 -1em;
}
  
header button span:nth-child(3){
	translate: 0 1em;
}

header.toonMenu ul{
	translate: none;
	z-index: 2;
}

header.toonMenu button {
	position: fixed;
	right: 0;
	
	margin: 7.195px 0;
	/* pixels expres gebruikt, de knop bleef niet
	 op dezelfde plek zitten als er werd geklikt */
}

header.toonMenu button span:nth-child(1){
	translate: none;
	rotate: 45deg;
}
  
header.toonMenu button span:nth-child(2){
	scale: 0 1;
}
  
header.toonMenu button span:nth-child(3){
	translate: none;
	rotate: -45deg;
}




/* footer */
footer {
	display: grid;
	gap: 2em;
	padding: 2.5em;
	padding-bottom: 20em;
}

footer h2 {
	text-align: start;
	font-size: 1.1em;
	font-weight: 800;
}

footer h3 {
	font-size: 1.1em;
	font-weight: 800;
}

footer ul:first-of-type { /*follow*/
	display: flex;
	gap: 2em;
}

footer ul:first-of-type li img{
	width: 2em;
	filter: brightness(0) saturate(100%) invert(16%) sepia(29%) saturate(546%) hue-rotate(276deg) brightness(93%) contrast(87%);
	&:hover {
		scale: 120%;
	}
}

footer section { /*ols*/
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	margin: 2em 0;
}

footer section h3:nth-of-type(1) {
	grid-column: 1/2;
	grid-row: 1/2;
}
footer section ol:nth-of-type(1) {
	grid-column: 1/2;
	grid-row: 2/3;
}

footer section h3:nth-of-type(2) {
	grid-column: 2/3;
	grid-row: 1/2;
}
footer section ol:nth-of-type(2) {
	grid-column: 2/3;
	grid-row: 2/3;
}

footer section h3:nth-of-type(3) {
	grid-column: 1/2;
	grid-row: 3/4;
}
footer section ol:nth-of-type(3) {
	grid-column: 1/2;
	grid-row: 4/5;
}


footer ol li {
	line-height: 2.5em;
}

footer ol a {
	color: var(--color-p);

	&:hover,
	&:focus {
		color: var(--color-brown);
		text-decoration: underline;
	}
}




footer ul:last-of-type { /*download*/
	margin: .5em;
	display: flex;
	justify-content: space-evenly;
}

footer ul:last-of-type img {
	width: 10em;
}

footer span {
	display: block;
	width: 100%;
	height: .1em;
	background-color: var(--color-p);
	opacity: 0.5;
}

footer p {
	font-weight: 400;
}









@media (min-width: 44em) {

	/* burgermenuutje */

	header nav button {
		display: none;
	}

	header nav ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		flex-wrap: nowrap;
		gap: 1.5em;
		position: static;
		translate: unset;
		font-size: .8em;
	}

	header nav ul li {
		margin: 0;
		width: 8em;
	}  

	header nav img {
		display: block;
	}


	/* footer */
	footer section {
		grid-template-columns: 1fr 1fr 1fr;
	}

	footer section h3:nth-of-type(3) {
		grid-column: 3/4;
		grid-row: 1/2;
	}
	footer section ol:nth-of-type(3) {
		grid-column: 3/4;
		grid-row: 2/3;
	}

	footer ul:first-of-type img {
		fill: var(--color-brown);
	}

	footer ul:last-of-type {
		justify-content: flex-start;
		gap: 2em;
	}
}




@media (prefers-color-scheme: dark) {
	:root {
		--color-brown:rgb(255, 255, 255);
		--color-p: rgb(248, 238, 216);
		--color-white:rgb(68, 47, 47);
		--color-yellow: rgb(163, 123, 77);
		--color-blue: rgb(38, 95, 95);
		--color-dark-blue: rgb(77, 144, 143);
		--color-black: rgb(255, 255, 255);
		--color-orange: rgb(171, 122, 30);
		--color-dark-orange: rgb(247, 202, 93);
	}

	footer ul:first-of-type li img {
		filter: brightness(0) saturate(100%) invert(87%) sepia(12%) saturate(618%) hue-rotate(332deg) brightness(112%) contrast(94%);
	}

	footer ul:last-of-type img {
		filter: invert(93%) sepia(7%) saturate(1380%) hue-rotate(317deg) brightness(109%) contrast(94%);
	}
}



@media (prefers-contrast: more) {
    :root {
		--color-brown:rgb(68, 47, 58);
		--color-p: rgb(95, 95, 95);
		--color-white:rgb(255, 255, 255);
		--color-yellow: white;
		--color-blue: black;
		--color-black: rgb(25, 25, 25);
		--color-orange: rgb(247, 202, 93);
		--color-dark-orange: rgb(228, 164, 44);
	}
}


